*.pyc
*.pyd
*.dylib
*.so
coverage.html/*
_cache/*
.coverage
dist/*
build/*
.eggs/*
*egg-info/*
temp_*
_doc/CHANGELOGS*
_doc/LICENSE
_doc/api/oo.png
_doc/examples/_cache/*
_doc/auto_examples/*
_doc/examples/plot_*.png
_doc/_static/require.js
_doc/_static/viz.js
_unittests/ut__main/*.png
_unittests/ut__main/data/*.rst
_doc/examples/*.html
_unittests/ut__main/_cache/*
_unittests/ut__main/*.html
