[tool.rstcheck]
report_level = "INFO"
ignore_directives = [
    "autoclass",
    "autofunction",
    "blocref",
    "blocreflist",
    "collapse",
    "exref",
    "exreflist",
    "gdot",
    "image-sg",
    "mathdef",
    "mathdeflist",
    "runpython",
]
ignore_roles = ["epkg"]
ignore_messages = [
    ".*Hyperlink target .l-blocdefs. is not referenced.*",
    ".*Hyperlink target .l-sphinx-epkg. is not referenced.*",
]

[tool.ruff]

# Exclude a variety of commonly ignored directories.
exclude = [
    ".eggs",
    ".git",
    "build",
    "dist",
]

# Same as Black.
line-length = 88

[tool.ruff.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10

[tool.ruff.per-file-ignores]
"sphinx_runpython/runpython/sphinx_runpython_extension.py" = ["F401"]
